/* Resetando a pagina antes de mudar estilo */
*{
    margin: 0;
    padding: 0;
}

/* Colocando um tamanho único para fonte */
body{
    font-size: 14px;
}
/* Definindo o flex-container*/

.flex-container{
    display: flex;
    width: 100%;
}

/*Centralizando o logo, definindo background color, e centralizando*/
#topo{
    width: 100%;
    background-color: #ddd;
    justify-content: center;
    height: auto;
}

/*Centralizando o logo *de verdade* (logo é um hyperlink com imagem, logo tem que centralizar o hyperlink e não a imagem/topo em especifico*/
#topo a{
    text-align: center;
}

/*Definindo padrão para as imagens do site*/
.imagem{
    width: 40%;
    height: auto;
}

/*Adicionando largura, background color, altura e centralizando o menu de navegação*/
nav{
    width: 100%;
    background-color: crimson;
    height: auto;
    justify-content: center;
}

/* Colocando os itens do menu de navegação em uma linha, inves de em um em cima do outro, e adicionando espacamento*/
.menu{
    height: 60px;
    list-style: none;
    display: inline-flex;
    justify-content: space-around;

}

/*Adicionando padding para o menu de navegação*/
.menu li{
    position: relative;
    padding: 8%;
    align-self: center;
}

/*Configurando fonte e cor para os links de navegação*/
.menu li a{
    color: #fff;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

/*Adicionando animação para os links de navegação*/
.menu li a:hover{
    color: #000;
    transition: 0.5s;
}

/*Arrumando a sublista do item "listas" para aparecer logo abaixo, em uma linha só, um embaixo do outro, e com um tamanho bom*/
.menu li ul{
    display: none;
    list-style: none;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: crimson;
}
/*hover para quando passar o mouse em cima do item "listas", aparecer o submenu com os respectivos itens*/
.menu li:hover ul{
    display: block;
}
/*Melhorando o submenu hover, colocando display block para ficar tudo em uma linha só*/
.menu li ul li{
    display: block;
    width: 170px;
}




#conteudo{
    min-height: 700px;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
}

#conteudo h1{
    text-align: center;
    padding-top: 2%;
}

#conteudo p, ol, h2, img{
    padding: 2% 5%;
}

/* Formulário */
form{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2%;
}

label{
    font-size: 0.75em;
}
legend{
    font-size: 0.9em;
    border-style: unset;
}

input, select, textarea{
    padding: 8px;
    border-radius: 10px;
    width: 60%;
    border-color: rgb(0, 0, 0);
}
fieldset{
    text-align: center;
    width: 60%;
    border-style: solid;
    padding: 40px;
}

button{
    width: 30%;
    padding: 10px;
}

.required::after{
    content: " *";
    color: red;

}

#rodape{
    justify-content: center;
    text-align: center;
    background-color: #555;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    font-size: 1em;
    align-items: center;
    height: 80px;
}

video, iframe{
    width: 90%;
    height: 640px;
    align-self: center;
    padding-bottom: 10px;
}

audio{
    padding-left: 30px;
}


#layout{
    padding-left: 100px;
}